@import url('../../styles/buttons.css');

:host {
  display: block;
}

.claim-item-form {
  background: white;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid #a3a3a3;
}

.email-input {
  display: block;
  border: 1px solid #737373;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem; /* mb-1 */
}

.subtext {
  color: #404040; /* text-neutral-700 */
  margin-bottom: 1rem; /* mb-4 */
  margin-top: 0.25rem; /* mt-1 */
}

@media screen and (min-width: 768px) {
  .claim-item-form {
    padding-top: 0; /* md:pt-0 */
    padding-left: 1.5rem; /* md:pl-6 */
    margin-top: 0; /* md:mt-0 */
    margin-left: 1rem; /* md:ml-4 */
    border-left: 1px solid #a3a3a3; /* md:border-l */
    border-top: none; /* md:border-t-0 */
  }
}
