@import url('../../styles/utilities.css');

:host {
  display: block;
  margin-bottom: 2rem; /* mb-8 */
  padding: 1rem;       /* p-4 */
  border-radius: 0.25rem; /* rounded */
}

h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 900;    /* font-black */
  margin-bottom: 0.5rem; /* mb-2 */
}

button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem; /* spacing between text and chevron */
}
