.button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.button-primary {
  background: #2563eb;
  color: white;
  border: none;
}

.button-secondary {
  border: 1px solid black;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 0.875rem; /* md:text-sm */
  }
}
