body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: #f5f5f5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  max-width: 800px;
}

main h1 {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding: 1rem;
  margin: 0;
}

main p {
  padding: 0 1rem;
}

main ul {
  padding: 0 2rem;
}

main a {
  font-weight: 600;
  color: black;
}
