body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: #f5f5f5;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
