body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}

main {
  @media screen and (min-width: 768px) {
    /* TODO: deal with this */
    width: 48rem;
  }
}
