@import url('../../styles/utilities.css');

:host {
  display: block;
  margin-bottom: 0.5rem;  /* mb-2 */
  padding: 0.75rem;       /* p-3 */
  border-radius: 0.375rem; /* rounded */
}

h3 {
  font-size: 1.125rem; /* text-lg */
  font-weight: 800;    /* font-extrabold */
  text-transform: uppercase;
  margin-bottom: 0.5rem; /* mb-2 */
}

button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem; /* space between text and chevron */
}

ul.is-open {
  display: block;
}

ul.is-closed {
  display: none;
}
