:host {
  display: list-item;
  list-style: none; /* Remove default list bullet */
}

:host {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "description"
    "claim";
  gap: 0.5rem;

  padding: 1.5rem;       /* p-6 */
  margin-bottom: 0.5rem; /* mb-2 */
  border-radius: 0.5rem; /* rounded-lg */
  background: white;     /* bg-white */
  box-shadow: 0 1px 3px rgba(0,0,0,0.1),
              0 1px 2px rgba(0,0,0,0.06); /* shadow */
  max-width: 56rem;      /* max-w-4xl */
}

.title-section {
  grid-area: title;
}

.description-section {
  grid-area: description;
}

.image-section {
  grid-area: image;
}

.claim-item-section {
  grid-area: claim;
}

.image {
  max-width: 200px;
}

h4 {
  margin: 0;
  font-weight: 600;   /* font-semibold */
  margin-bottom: 0.25rem; /* mb-1 */
  font-size: 1.5rem;  /* text-2xl */
}

h4.line-through {
  color: #737373; /* neutral-500 */
  text-decoration: line-through;
}

p {
  font-size: 1.25rem; /* text-xl */
}

p.line-through {
  color: #737373; /* neutral-500 */
  text-decoration: line-through;
}

a {
  text-decoration: underline;
  text-decoration-color: #737373; /* decoration-neutral-500 */
}

@media screen and (min-width: 768px) {
  :host {
    grid-template-areas:
      "title  title       title"
      "image  description description"
      "image  description description"
      "image  claim       claim";
  }

  :host(:has(.claim-item-form)) {
    grid-template-areas:
      "title title       claim claim"
      "image description claim claim"
      "image description claim claim"
      "image description claim claim";
  }

  h4 {
    font-size: 1.25rem; /* md:text-xl */
  }

  p {
    font-size: 1rem; /* md:text-base */
  }
}
